<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting id="load_backup" type="bool" default="false" label="load backup"/>
    <setting id="use_sonar" type="bool" default="false" label="use sonar"/>
    <setting id="m3u_pwd" type="text" default="trial_221" label="m3u password"/>
</settings>